@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.App {
    margin: 40px;
}

.board-container {
    display: flex;
    flex-Direction: row;
    justify-Content: space-between
}

.board-left img {
    width: 500px;
}

.board-right {
    display: flex;
    flex-Direction: column;
    align-Items: end;
    justify-Content: space-between;
    margin-Right: 70px;
    margin-Bottom: 70px;
    margin-Top: 50px
}

.button-sort-word {
    background-Color: #27AE60;
    color: #FFFFFF;
    border: none;
    border-Radius: 8px;
    width: 200px;
    height: 60px;
    font-Weight: bold;
    font-Size: 20px
}

.display-none {
    display: none;
}

.spaces {
    margin-right: 0px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    font-size: 80px;
    margin-left: 10px;
}

.win {
    color: #00c04b;
}

.lose {
    color: red;
}

.keyboard-center {
    display: flex;
    justify-Content: center;
    align-Items: center
}

.keyboard-container {
    width: 750px;
    display: flex;
    flex-Wrap: wrap;
    justify-Content: center;
    align-Items: center
}

.letter {
    width: 40px;
    height: 40px;
    display: flex;
    justify-Content: center;
    align-Items: center;
    font-Weight: bold;
    border-Radius: 3px;
    margin-Bottom: 7px;
    margin: 7px;
    font-Size: 16px;
}

.disabled {
    border: 1px solid #7AA7C7;
    color: #798A9F;
    background: #9FAAB5;
}

.enabled {
    border: 1px solid #7AA7C7;
    color: #39739D;
    background: #E1ECF4;
}

